<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ToDoList</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<main class="main">
		<div class="container">
			<h1 class="main__title">ToDoList</h1>
			<div class="new-task">
				<form action="/addTask" method="post" class="new-task">
					<input type="text" class="new-task__input" placeholder="Добавьте задачу" name="task">
					<input class="new-task__btn" type="submit" value="Добавить">
				</form>
			</div>
			<div class="tasks">
				<h2 class="tasks__title">Задачи</h2>
				{{ if . }}
					{{ range . }}
					<ul class="tasks__list">
						<li class="tasks__item">
							<span>{{ .Title }}</span>
							<div class="item__btn">
								<form action="/markCompleted" method="post" class="item__btn">
									<input type="hidden" name="token" value="{{.Id}}">
									<button class="item__done item-img"></button>
								</form>
								<form action="/deleteTask" method="post" class="item__btn">
									<input type="hidden" name="token" value="{{.Id}}">
									<button class="item__delete item-img"></button>
								</form>
							</div>
						</li>
					</ul>
					{{ end }}
				{{ else }}
					<p class="no-tasks">Задач нет</p>
				{{ end }}
			</div>
			<div class="tasks">
				<h2 class="tasks__title">Выполненные задачи</h2>
				<ul class="tasks__list">
					<li class="tasks__item completed">
						<span>{{ .Title }}</span>
						<div class="item__btn">
							<button class="item__done item-img"></button>
							<button class="item__delete item-img"></button>
						</div>
					</li>
				</ul>
				<p class="no-tasks">Выполненных задач нет</p>
			</div>
		</div>
	</main>
</body>

</html>